<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modulos</servlet-name>
        <servlet-class>controlador.Modulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Configuraciones</servlet-name>
        <servlet-class>controlador.Configuraciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>controlador.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estadistica</servlet-name>
        <servlet-class>controlador.Estadistica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCliente</servlet-name>
        <servlet-class>controlador.ControlCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>controlador.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporte</servlet-name>
        <servlet-class>controlador.Reporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>controlador.Usuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modulos</servlet-name>
        <url-pattern>/Modulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Configuraciones</servlet-name>
        <url-pattern>/Configuraciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Estadistica</servlet-name>
        <url-pattern>/Estadistica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCliente</servlet-name>
        <url-pattern>/ControlCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte</servlet-name>
        <url-pattern>/Reporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
